/* src/index.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f6f0;
  color: #001d3d;
  min-height: 100vh;
  line-height: 1.6;
  padding: 2rem;
}

.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.backface-hidden {
  backface-visibility: hidden;
}

@keyframes floaty {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
}

.animate-floaty {
  animation: floaty 6s ease-in-out infinite;
}
