/* src/index.css */
@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden; /* removes scroll */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f6f0;
  color: #001d3d;
  min-height: 100vh;
  line-height: 1.6;
  padding: 2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}
